*DS_Store*
*.class
*.jar
target/
logs/
.project
*.settings/
.classpath
*.prefs
*.sh
org.eclipse.jdt.core.prefs
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs




*.prefs

hbase-server/src/main/java/org/apache/hadoop/.DS_Store

hbase-server/src/main/java/org/apache/hadoop/hbase/.DS_Store

.DS_Store
